@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: content-box;
}

html{
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @apply font-body
}

