@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: content-box;
}

html{
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @apply font-body
}

.screen-space{
  @apply max-w-[80vw] mx-auto
}

.slider-btn{
  @apply absolute top-1/2 translate-y-[-50%] bg-white-50 rounded-full opacity-60 active:bg-white-400
}

.home-scroll-section::-webkit-scrollbar{
  width: 0;
}

.sections-link{
  @apply hover:tracking-widest transition-all cursor-pointer border-b-2 border-grey-300 hover:border-grey-200 
}

.grid-nav{
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}